---
import type { GetStaticPaths } from "astro";
import { getCollection } from "astro:content";
import Main from "@/layouts/Main.astro";
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import Card from "@/components/Card.astro";
import Pagination from "@/components/Pagination.astro";
import PostsSortToggle from "@/components/PostsSortToggle.astro";
import getSortedPostsByPubDate from "@/utils/getSortedPostsByPubDate";
import { SITE } from "@/config";

export const getStaticPaths = (async ({ paginate }) => {
  const posts = await getCollection("blog", ({ data }) => !data.draft);
  return paginate(getSortedPostsByPubDate(posts), { pageSize: SITE.postPerPage });
}) satisfies GetStaticPaths;

const { page } = Astro.props;

// Set canonical URL to point to the main /posts/ route to avoid duplicate content
const canonicalPagePath = page.currentPage === 1 ? "/posts/" : `/posts/${page.currentPage}/`;
const canonicalURL = new URL(canonicalPagePath, Astro.site);
---

<Layout title={`Posts | ${SITE.title}`} canonicalURL={canonicalURL.href} noIndex={true}>
  <Header />
  <Main pageTitle="Posts" pageDesc="All the articles I've posted.">
    <PostsSortToggle currentSort="published" />
    <ul>
      {page.data.map(data => <Card {...data} />)}
    </ul>
  </Main>

  <Pagination {page} />

  <Footer noMarginTop={page.lastPage > 1} />
</Layout>
